<div class="hero-2" style="background-image: url('assets/images/hero_2.jpg');">
    <div class="container">
       <div class="row justify-content-center text-center align-items-center">
         <div class="col-md-8">
           <span class="sub-title">Welcome</span>
           <h2>About Us</h2>
         </div>
       </div>
     </div>
   </div>


   <div class="site-section py-5 custom-border-bottom" data-aos="fade">
     <div class="container">
       <div class="row mb-5">
         <div class="col-md-6">
           <div class="block-16">
             <figure>
               <img src="assets/images/hero_1.jpg" alt="Image placeholder" class="img-fluid">
   
             </figure>
           </div>
         </div>
         <div class="col-md-1"></div>
         <div class="col-md-5">
   
   
           <div class="site-section-heading pt-3 mb-4">
             <h2 class="text-black font-heading-serif">How We Started</h2>
           </div>
           <p>There was small wine yard when our grandparents strated producing wine! It was 50 years ago!</p>
           <p>Now we are one of the best wianaries in the world!</p>
   
         </div>
       </div>
     </div>
   </div>

   

   <div class="site-section py-5 bg-light custom-border-bottom" data-aos="fade">
     <div class="container">
       <div class="row">
         <div class="col-md-6 order-md-2">
           <div class="block-16">
             <figure>
               <img src="assets/images/hero_2.jpg" alt="Image placeholder" class="img-fluid ">
               <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo" data-fancybox><span
                   class="icon-play"></span></a>
   
             </figure>
           </div>
         </div>
         <div class="col-md-5 mr-auto">
   
   
           <div class="site-section-heading pt-3 mb-4">
             <h2 class="text-black font-heading-serif">Wines For You All</h2>
           </div>
           <p>Amazing wines wait on you to come and try it!</p>
           <p>Come and see why every one love our wines.</p>
           
           
   
         </div>
       </div>
     </div>
   </div>
   
   <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
     <div class="container">
       <div class="row">
         <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
           <div class="icon mr-4 align-self-start">
             <span class="icon-truck text-primary"></span>
           </div>
           <div class="text">
             <h2 class="font-heading-serif">Free Shipping</h2>
             <p>We can deliver wine to your party absolutley free.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
           <div class="icon mr-4 align-self-start">
             <span class="icon-refresh2 text-primary"></span>
           </div>
           <div class="text">
             <h2 class="font-heading-serif">Free Returns</h2>
             <p>If you in some case don't like our wine. You can return it and get new bottle.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
           <div class="icon mr-4 align-self-start">
             <span class="icon-help text-primary"></span>
           </div>
           <div class="text">
             <h2 class="font-heading-serif">Customer Support</h2>
             <p>Allways on service.</p>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="site-section bg-light">
     <div class="container">
       <div class="owl-carousel owl-slide-3 owl-slide">
          <!-- <blockquote class="testimony" *ngFor="let c of clients">
            <img src="assets/images/{{c.image}}" alt="Image">
            <p>&ldquo;{{c.text}}&rdquo;</p>
            <p class="small text-primary">&mdash;{{c.name}}</p>
          </blockquote> -->
         <blockquote class="testimony">
           <img src="assets/images/person_1.jpg" alt="Image">
           <p>&ldquo;There is for loop in code where i tried to write customers from json file. But i have had problem with temaple so i left it like this and commented loop.&rdquo;</p>
           <p class="small text-primary">&mdash; Collin Miller</p>
         </blockquote>
         <blockquote class="testimony">
           <img src="assets/images/person_2.jpg" alt="Image">
           <p>&ldquo;There is for loop in code where i tried to write customers from json file. But i have had problem with temaple so i left it like this and commented loop.&rdquo;</p>
           <p class="small text-primary">&mdash; Harley Perkins</p>
         </blockquote>
         <blockquote class="testimony">
           <img src="assets/images/person_3.jpg" alt="Image">
           <p>&ldquo;There is for loop in code where i tried to write customers from json file. But i have had problem with temaple so i left it like this and commented loop.&rdquo;</p>
           <p class="small text-primary">&mdash; Levi Morris</p>
         </blockquote>
         <blockquote class="testimony">
           <img src="assets/images/person_1.jpg" alt="Image">
           <p>&ldquo;There is for loop in code where i tried to write customers from json file. But i have had problem with temaple so i left it like this and commented loop.&rdquo;</p>
           <p class="small text-primary">&mdash; Allie Smith</p>
         </blockquote>
       
       </div>
     </div>
   </div>